*{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

p{
    color: #818391;
}

h4{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}
.top{
    background-color: #f8f9fa;
    padding: 1rem 0 .5rem 0; 

}

nav{
    display: flex;
    padding: 1rem;
}

nav .head{
    display: flex;
    justify-content: space-between;

}



nav a{
    text-decoration: none;
}

nav a b{
    color: black;
}

nav p{
    color: black;
    padding: 10px;
    margin-left: 1.2rem;
}

nav p:hover{
    background-color: #f4f4f4;
    border-radius: .3rem;
    cursor: pointer;
    /* padding: 2rem; */
}

nav p i{
    color: #818391;
}

nav img{
    margin-left: 8rem;
    width: 69px;
    height: 40px;
}

nav .nav_head{
    display: flex;
}

.bg-green{
    background-color: #2eb875;
}

.txt-green{
    color:  #249e64;
    font-size: 14px;
}

.partner{
    font-size: 14px;
}

.global, .global_one{
    display: flex;
    align-items: center;
}

.global_icon, .global_one_icon{
    margin-right: .5rem;
    margin-left: -6rem;
}

.global_one_icon{
    margin-right: 1rem; 
    margin-left: 0;  
}

.top{
    padding-top: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top_span span{
   padding-left: 2rem;
}


header{
    display: flex;
    width: 100%;
}

header .header_left{
    width: 60%;
    text-align: left;
    padding-left: 10%;
}

header .header_left h1{
    color: white;
    padding: 25% 15% 2% 0 ;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
}

header .header_image img{
    width: 100%;
    height: 100%;
}

header .header_left p{
    color: white;
    /* padding-left: 20%; */
}

.below_header{
    background-color: #4f5cd1;
    position: relative!important;
    z-index: 1;
    overflow: hidden;
    /* height: 30%; */
}

.below_header_text_content{
    /* margin: 2rem; */
    position: relative;
    z-index: 3;
    display: flex;
    padding: 5rem 20rem;
    align-items: center;
}

.below_header_text_content h3{
    font-size: 34px;
    line-height: 40px;
    color: white;
}

.below_header_text_content p{
    font-size: 18px;
    line-height: 27px;
    color: white;
}

.below_header_text_big_blue{
    background-color: #6675ff;
    height: 740px; 
    width: 740px;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: -270px;
    z-index: 2;
}

.below_header_text_small_blue{
    background-color: #6675ff; 
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    right: 200px;
    top: -180px;
    z-index: 2;
}

.below_header_btn button{
    margin-left: 13rem;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 3rem;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .1em;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
    margin-bottom: 5rem;
    /* flex-wrap: wrap; */
}

.card{
    margin: 2rem 4rem;
    border: none!important;
    width: 33%;
}

.card img{
    width: 140px;
    height: 140px;
    object-fit: contain;
}

.card h3{
    font-size: 34px;
    line-height: 40px;
    font-weight: bold;
    padding: 1.5rem 0 .5rem 0;
}

.card p{
    font-size: 18px;
    line-height: 27px;
}

.phone_map{
    background-color: #d9fde5;
    position: relative;
    padding-bottom: 175px;
    padding-top: 140px;
}

.phone_map_text{
    padding-left: 10rem;
}

.phone_map h2{
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
}

.phone_map p{
    font-size: 18px;
    line-height: 27px;
}

.phone_map .phone_map_image img{
    width: 45rem;
    height: 45rem;
    position: absolute;
    top: -17rem;
    right: 100px; 
}

.adverts{
    display: flex;
    padding: 10rem 5rem;
    /* flex-wrap: wrap; */
}

.adverts h4{
    padding-top: .5rem;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.adverts p{
    font-size: 18px;
    line-height: 27px;
}
.advert{
    margin: 0 3rem;
}

.ready{
    text-align: center;
}

.ready h2{
    font-size: 48px;
    line-height: 56px;
    color: white;
    font-weight: bold;
    padding: 5rem 0 2rem 0;
}


.ready p, 
.ready a{
    color: white;
    padding: 3rem 0 5rem 0;
    font-size: 18px;
    line-height: 27px;
}

.ready a:hover{
    color: white;
}

.bottom .bottom_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 7rem 4rem 1rem;
}

.bottom_top .one .one_image img{
    width: 120px;
    height: 80px;
    object-fit: contain;
}

.bottom .bottom_top .global_one b, .bottom .bottom_top .list b{
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.bottom .bottom_top .list ul li{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 1.5rem;
}


.bottom .bottom_top .list ul li:hover, footer .footer_right p:hover{
    cursor: pointer;
    color: #3dcd87;
}

.header_download_btns, .ready_icons{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.ready_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.bottom_down, footer{
    display: flex;
    justify-content: space-around;
    /* border-bottom: 1px solid #f2f2f2; */
}

.bottom_down .bottom_down_icon i, .bottom_down .bottom_down_buttons button{
    background-color: #f4f4f6;
    padding: .5rem;
    border-radius: 50%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 24px;
    margin: 0 .2rem;
}

.bottom_down .bottom_down_buttons button{
    border-radius: 6rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    border: none;
}

hr{
    /* color: #f4f4f6; */
    border: .2px solid #f4f4f6;
    margin: 1.5rem 10rem;
}

footer{
    padding: 0  9rem 5rem 10rem;
    justify-content: space-between;
}

footer .footer_left{
    color: #818391;
}

footer .footer_right{
    display: flex;
}

footer .footer_right p{
    padding-right: 1rem;
}



/* media queries */
@media screen and (min-width: 1024px){
    .hamburger, .global_one_small{
        display: none;
    }

}

/* @media screen and (max-width: 320px){
    header .header_left .header_download_btns img{
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        padding: .2rem .3rem;
        margin: 0;
        text-align: left;
    }
} */

@media screen and (min-width: 320px) and (max-width: 767px) {
body{
    overflow-x: hidden;
    max-width: 100vw;
}

    .top{
        display: none;
    }

    nav{
        padding: 1rem 0 .5rem 1rem;
    }

    nav .burger_top .hamburger .bx-x, nav .nav_head, nav .global_one_small, header .below_header_text_big_blue, header .below_header_text_small_blue, .bottom_down .bottom_down_buttons{
        display: none;
    }

    nav .burger_top{
        display: flex;
        align-items: center;
    }

    nav .burger_top img{
        margin: 0 0 0 1.5rem;
    }

    /* 
    nav img{
    margin-left: 8rem;
    width: 69px;
    height: 40px;
}
 */

    
    nav .burger_top .hamburger .bx-menu{
        background-color: #f4f4f6;
        padding: 10px;
        border-radius: 50%;
        font-weight: 400;
        font-size: 28px;
        line-height: 24px;
        /* margin-top: 1rem; */
    }
    
    header{
        flex-direction: column;
    }

    header .header_left{
        width: 100%;
    }

    header .header_left .header_download_btns{
        padding-bottom: 2rem;
        flex-wrap: wrap;
    }

    header .header_left .header_download_btns img,  header .header_left p{
        text-align: center;
    }

    header .header_left h1{
        padding: 2rem 0;
        font-size: 3rem;
        line-height: normal;
    }

    header .header_image img{
        width: 100vw;
        height: 40vh;
        object-fit: cover;
    }

    
    .below_header{
        background-color: #6675ff;
        text-align: center;
        flex-direction: column;
    }

    .below_header_text_content{
        flex-direction: column;
        
        padding: 0;
    }

    .below_header_text_content h3{
        font-size: 1.5rem;
        line-height: normal;
        padding-top: 2rem;
    }
    
    .below_header_text_content p{
        font-size: 1.2rem;
        line-height: normal;
        padding: 1rem 0 2rem 0;
    }

    .below_header_btn{
        padding-bottom: 2rem;
    }

    .below_header_btn button{
        margin: 0;
    } 

    .cards{
        flex-wrap: wrap;
        padding: 0 2rem;
    }
    
    .card{
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 0;
        /* justify-content: space-between; */
    }
    
    .card img{
        width: 80px;
        height: 80px;
        padding-top: 2rem;
    }
    
    .card h3{
        font-size: 1.5rem;
        line-height: normal;
        padding-left: 2rem;
    }
    
    .card p{
        font-size: 1rem;
        line-height: normal;
        padding-left: 2rem;
    }

    .phone_map{
        margin-top: 15rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .phone_map_text{
        padding: 10rem 0 .2rem .2rem ;
    }
    
    .phone_map h2{
        font-size: 1.5rem;
        line-height: normal;
    }
    
    .phone_map p{
        font-size: 1rem;
        line-height: normal;
    }

    .phone_map .phone_map_image{
        margin: 0;
        padding: 0;
        /* border: 2px solid red; */
    }
    
    .phone_map .phone_map_image img{
        position: absolute;
        width: 25rem;
        height: 25rem;
        top: -15rem;
        left: -3rem;
    }

    .adverts{
        flex-direction: column;
        padding: 0 2rem;
    }
    
    .advert{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;
        position: relative;
        padding: 1rem 0;
    }
    
    .advert img{
       
        position: absolute;
    }
    
    .advert h4{
        font-size: 1.2rem;
        line-height: normal;
        padding-left: 2rem;
        padding-top: 0;
    }
    
    .advert p{
        font-size: 1rem;
        line-height: normal;
        padding-left: 2rem;
        padding-top: 1rem;
    }

    .bottom .bottom_top {
        display: flex;
        flex-direction: column;
    }

    .bottom .bottom_top .list{
        padding-top: 1.5rem;
    }
    
    .bottom_down{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    hr{
        width: 80%;
        text-align: center;
        margin: 1rem auto;
    }
     
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    footer .footer_left{
        padding-bottom: 2rem;
    }

    footer .footer_right{
        padding-bottom: 2rem;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        overflow-x: hidden;
        max-width: 100vw;
        /* border: 2px solid red; */
    }
    
        .top{
            display: none;
        }
    
        nav{
            padding: 1rem 0 .5rem 1rem;
        }
    
        nav .burger_top .hamburger .bx-x, nav .nav_head, nav .global_one_small, header .below_header_text_small_blue{
            display: none;
        }
    
        nav .burger_top{
            display: flex;
            align-items: center;
        }
    
        nav .burger_top img{
            margin: 0 0 0 1.5rem;
        }
    
        
        nav .burger_top .hamburger .bx-menu{
            background-color: #f4f4f6;
            padding: 10px;
            border-radius: 50%;
            font-weight: 400;
            font-size: 28px;
            line-height: 24px;
        }
        
        header{
            flex-direction: column;
        }
    
        header .header_left{
            width: 100%;
        }
    
        header .header_left .header_download_btns{
            padding-bottom: 2rem;
            flex-wrap: wrap;
        }
    
        header .header_left .header_download_btns img,  header .header_left p{
            text-align: left;
        }
    
        header .header_left h1{
            padding: 2rem 0;
            font-size: 3rem;
            line-height: normal;
        }
    
        header .header_image img{
            width: 100vw;
            height: 40vh;
            object-fit: cover;
        }
    
        
        .below_header{
            background-color: #4f5cd1;
            flex-direction: column;
            position: relative;
        }
    
        header .below_header_text_big_blue{
            background-color: #6675ff;
            height: 740px; 
            width: 740px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: -270px;
            z-index: 2;
        }

        .below_header_text_content{
            flex-direction: row;
            padding: 0 1rem;
        }
    
        .below_header_text_content h3{
            font-size: 1.5rem;
            line-height: normal;
            padding-top: 2rem;
        }
        
        .below_header_text_content p{
            font-size: 1.2rem;
            line-height: normal;
            padding: 1rem 0 2rem 0;
        }
    
        .below_header_btn{
            padding-bottom: 2rem;
        }
    
        .below_header_btn button{
            margin: 0;
        } 
    
        .cards{
            flex-wrap: nowrap;
            padding: 0 2rem;
        }
        
        .card{
            display: flex;
            width: 100%;
            flex-direction: column;
            margin: 0;
        }
        
        .card img{
            width: 200px;
            height: 200px;
            padding-top: 5rem;
        }
        
        .card h3{
            font-size: 1.5rem;
            line-height: normal;
            padding-left: 2rem;
        }
        
        .card p{
            font-size: 1rem;
            line-height: normal;
            padding-left: 2rem;
        }
    
        .phone_map{
            margin-top: 15rem;
            padding-top: 0;
            padding-bottom: 0;
        }
        
        .phone_map_text{
            padding: 10rem 0 .2rem .2rem ;
            text-align: center;
        }
        
        .phone_map h2{
            font-size: 1.5rem;
            line-height: normal;
        }
        
        .phone_map p{
            font-size: 1rem;
            line-height: normal;
        }
        
        .phone_map .phone_map_image img{
            width: 30rem;
            height: 30rem;
            top: -18rem;
            right: 10rem; 
        }
    
        .adverts{
            flex-direction: row;
            padding: 0 2rem;
        }
        
        .advert{
            display: flex;
            width: 100%;
            flex-direction: column;
            margin: 2rem 0;
            align-items: flex-start;
            position: relative;
            padding: 1rem;
        }
        
        .advert img{
            margin-left: 2rem;
        }
        
        .advert h4{
            font-size: 1.2rem;
            line-height: normal;
            padding-left: 2rem;
            padding-top: 0;
        }
        
        .advert p{
            font-size: 1rem;
            line-height: normal;
            padding-left: 2rem;
            padding-top: 1rem;
        }
    
        .bottom .bottom_top {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        .bottom .bottom_top .list{
            padding: 1.5rem 5rem;
            align-items: flex-start;
        }
        
        .bottom_down{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-direction: column-reverse;
        }

        .bottom_down_icon{
           padding-top: 2rem;
        }
    
        hr{
            width: 80%;
            text-align: center;
            margin: 1rem auto;
        }
         
        footer{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
    
        footer .footer_left{
            padding-bottom: 2rem;
        }
    
        footer .footer_right{
            padding-bottom: 2rem;
        }
    }    
    
    /* Styling for hamburger action */

    /* 
/* 
    nav{
        background: #fff;
        display: flex;
        flex-direction: column;
        height: 100vh;
        min-width: 430px;
        overflow: hidden;
        z-index: 10;
        position: absolute;
        transform: translateX(0);
        /* padding: .2rem 1.5rem;
        
        transition: transform .5s ease;
        width: 38rem;
        
        font-weight: 600;
        font-size: 1rem;
        line-height: .5rem; 
        
    } */

    /* nav .nav_head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    } */

    /* nav .nav_head p{
        font-size: 300rem;
    } */

    /* nav .burger_top{
        display: flex;
    } */
/* 
    nav .head p{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
    } */

    /* nav .burger_top .hamburger .bx-menu{
        background-color: #f4f4f6;
        padding: .5rem;
        border-radius: 50%;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 24px;
        margin-top: 1rem;
    }

    nav .burger_top .hamburger .bx-x{
        display: none;
        background-color: #f4f4f6;
        padding: .5rem;
        border-radius: 50%;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 24px;
        margin-top: 1rem;
    } */  

    /* styling for hamburger action ends here */