*{
    font-family: Arial, sans-serif;
}

li{
    list-style: none;
}

p{
    color: #818391;
}

h4{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /* color: blue; */
}

nav a{
    text-decoration: none;
}

nav a b{
    color: black;
}

.bg-green{
    background-color: #2eb875;
}

.txt-green{
    color:  #249e64;
}